*{ font-size: 12pt;
    font-family: 'Noto Sans KR', sans-serif;
    }
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
body{max-width: 1040px ; 
    margin: 0 auto; 
    min-width: 1040px; 
}

@font-face { 
    font-family: 'malang';  
    src: url("../font/HancomMalangMalangRegular.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}     

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

nav{
    border: #afafaf 0 1px 0 0 solid;
    text-align: center;
}
nav ul{
    list-style: none;
}
a{text-decoration: none;}

nav ul li:hover {
    background-color: #ffca28;
    color: #ffffff;
}

nav ul{
    display: flex;
}
nav ul li{
    flex: 1;
    padding: 10px;
}

header{
    height: 120px;
}
footer{
    height: 100%;
    background-color: #eee7e2;
    color: #867d76;
}
footer div h2{
    font-size: 18pt;
    font-weight: bolder;
    font-family: 'malang';
}
footer div div h2{
    font-size: 18pt;
    font-weight: bolder;
    font-family: 'malang';
}

footer div p{
    font-size: 10pt;
}

#footerright{
    font-size: 8pt;
    text-align: right;
}
#ffooter{
    width: 1024px;
    display: inline-block;
    
}

/*article, aside, nav{
    height: calc(100vh - 100px);
} */
#page01 {
    height: calc(100vh-calc(header+nav));
}






header{position: relative;}
#top_menu{
    color: #afafaf;
    position: absolute;
    top: 40px;
    right: 10px;
}
#logo{
    position: absolute;
    height: 100px;
    top: 20px;
}


.search{
    border: 2px solid #ffca28;
    border-radius: 20px;
    position: absolute;
    top: 30px;
    left: 240px;
    width: 340px;
    height: 40px;
}

button.img-button{
    border: none;
    background: transparent;
    color: #ffca28;
}
.fas{
    color: #ffca28;
}
.keyword{
    border : none;
    outline: none;
    background: transparent;
    width: 300px;
    color: #8c6d62;
    padding: 6px 0 0 10px;
}
#gotop{
    position: fixed; 
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-color: #ffca28;
    text-align: center;
}
#gotop, #gotop a i:hover{
    color: #ffca28;
    background-color: #8c6d62;
}

.float1{
    position: fixed;
    display: inline-block;
    bottom: 200px; 
    right: 0;
    z-index: 99;
    width: 140px;
    height: 40px;
    border-radius: 20px 0 00;
    background-color: #8c6d62;
}


.float1 div div{
    display: inline;
    position: absolute;
    top: 18px;
    width: 100%;
    text-align: center;
    font-size: 10pt;
    font-weight: 600;
    color: #ffffff;
}

.float2{
    position: fixed;
    display: inline-block;
    bottom: 160px; 
    right: 0;
    z-index: 99;
    width: 140px;
    height: 40px;
    border-radius: 0 0 0 20px;
    background-color: #8c6d62;
}


.float2 div div{
    display: inline;
    position: absolute;
    top: 12px;
    width: 100%;
    text-align: center;
    font-size: 10pt;
    font-weight: 600;
    color: #ffffff;
}


#allfloat{
    position: fixed;
    display: inline-block;
    bottom: 160px; 
    right: 0;
    z-index: 99;
    width: 140px;
    height: 80px;
    border-radius: 20px 0 0 20px;
    box-shadow:0 2px 5px 0 #00000029,0 2px 10px 0 rgba(0,0,0,0.12)
}

#allfloat :hover{
    background-color: #ffca28;
    color: #8c6d62;
}





section div h2{
    text-align: center;
    font-weight: bolder;
    font-family: 'malang';
}

h6{
    font-size: 14px;
    font-weight: bold;
}
#page-wrap{
    display: flex;
    justify-content: center;
}
form{
    width: 40%;
}

#join_form input{
    width: 100%;
    padding: 10px;
    border: 1px solid #afafaf;
}

#wndqhr{ 
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    background-color: #ffca28;
    border-radius: 5px;
    border: none;
}

#submitbutton {
    display: flex;
}
#submitbutton input{
    margin-top: 5px;
    padding: 10px;
    width: 100%;
    background-color: #ffca28;
    border-radius: 5px;
    border: none;
    flex: 1;
    width: 50%;
}